[submodule "backend"]
	path = backend
	url = https://github.com/prasanna-emmadi/FindONow-Backend.git
	branch = main
[submodule "frontend"]
	path = frontend
	url = https://github.com/prasanna-emmadi/FindONow-Frontend.git
	branch = main
